{% extends "forum.html" %}

{% block content %}
{% if auth == True %}
	<h2>Hello, {{session["username"]}}!</h2>
	<form action= "/" method = "POST">
	<div class="form-outline mb-4" style="width: 30rem; min-height: 16rem">
			<input type="text" name="data" id="something" class="form-control form-control-lg" />
			<label class="form-label" for="postform">What's on your mind ?</label>
	</div>
	<button type="submit" class="btn btn-primary btn-block mb-4" style="width: 30rem;">post</button>
	<br>
	</form>

<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% else %}
	<h2>Hello, there !</h2>

{% endif %}

<p>Welcome to the forum !! <br></p>


{% for post in posts %}
	<br>
	<div class="card" style="width: 30rem;">
	<div class="card-body">
		<h5 class="card-title">{{post[2]}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{post[3]}}</h6>
		<p class="card-text">{{post[4]}}</p>
	</div>
	</div>
	<br>
{% endfor %}
{% endblock content %}
